<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gok.mapper.UserMapper">
    <!--    添加-->
    <insert id="addUser" keyProperty="id">
        insert into user (name, userName, password,sex,phone,createTime)
        value ( #{name},#{userName}, #{password},#{sex},#{phone},#{time})
    </insert>
    <!--    查找是否相同-->
    <select id="findUserByAccount" resultType="cn.gok.entity.User">
        select *
        from user
        where userName = #{userName}
    </select>
    <!--  忘记密码  -->
    <update id="reset">
        update user set password=#{password} where userName=#{userName} and phone=#{phone}
    </update>

    <!--    登入是否存在-->
    <select id="login" resultType="cn.gok.entity.User">
        select *
        from user
        where  userName = #{userName} and password = #{password}
    </select>

    <!--    查询-->
    <select id="list" resultType="cn.gok.entity.User">
        select * from user where 1=1
        <if test="searchKey!=null and searchKey!=''">
            and name like CONCAT(CONCAT('%',#{searchKey}),'%')
            or userName like CONCAT(CONCAT('%',#{searchKey}),'%')
            or sex like CONCAT(CONCAT('%',#{searchKey}),'%')
            or createTime like CONCAT(CONCAT('%',#{searchKey}),'%')
            or phone like CONCAT(CONCAT('%',#{searchKey}),'%')

        </if>
    </select>

    <!--    删除-->
    <delete id="del">
        delete from user where id=#{id}
    </delete>

    <!--增加-->
    <insert id="add">
        insert into user (name,userName,password,sex,phone,createTime)
        value (#{name},#{userName},#{password},#{sex},#{phone},#{time})
    </insert>

    <!--    更新-->
    <update id="update">
    update user set name=#{name},userName=#{userName},password=#{password},phone=#{phone},sex=#{sex} where  id=#{id}
</update>

    <!--    详情-->
    <select id="detail" resultType="cn.gok.entity.User">
        select * from user where id=#{id}
    </select>
</mapper>